In [1]:
import pandas as pd
import numpy as np

In [67]:
dates=pd.date_range('20190924',periods=4)
dates

DatetimeIndex(['2019-09-24', '2019-09-25', '2019-09-26', '2019-09-27'], dtype='datetime64[ns]', freq='D')

In [15]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [16]:
df

                   A         B         C         D
2019-09-24  0.898643  1.108262 -0.083346 -1.621664
2019-09-25 -0.424143  0.802146  1.072711  0.513634
2019-09-26  0.488902 -0.198709  0.082764  0.774385
2019-09-27 -0.058485 -1.145670  0.521298  0.618269
2019-09-28  1.739448  0.479271 -0.928745 -0.118071
2019-09-29 -2.397474  0.711838  0.866692  0.606681

In [26]:
df2=pd.DataFrame({'A':1.,'B':pd.Timestamp('20190924'),'C':pd.Series(1,index=list(range(4)),dtype='float32') ,'D':np.array([3]*4,dtype='int32'),'E':pd.Categorical(["test","train","test","train"]),'F':-1})

df2

     A          B    C  D      E  F
0  1.0 2019-09-24  1.0  3   test -1
1  1.0 2019-09-24  1.0  3  train -1
2  1.0 2019-09-24  1.0  3   test -1
3  1.0 2019-09-24  1.0  3  train -1

In [27]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [29]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [30]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [33]:
df.values

array([[ 0.89864252,  1.1082623 , -0.08334603, -1.62166353],
       [-0.42414305,  0.80214566,  1.07271135,  0.5136342 ],
       [ 0.48890183, -0.19870927,  0.082764  ,  0.77438509],
       [-0.05848544, -1.14566966,  0.52129825,  0.61826919],
       [ 1.73944769,  0.479271  , -0.92874537, -0.11807063],
       [-2.3974741 ,  0.71183819,  0.86669198,  0.60668062]])

In [34]:
df.quantile()

A    0.215208
B    0.595555
C    0.302031
D    0.560157
Name: 0.5, dtype: float64

In [37]:
df.T # Transpose of the data

   2019-09-24  2019-09-25  2019-09-26  2019-09-27  2019-09-28  2019-09-29
A    0.898643   -0.424143    0.488902   -0.058485    1.739448   -2.397474
B    1.108262    0.802146   -0.198709   -1.145670    0.479271    0.711838
C   -0.083346    1.072711    0.082764    0.521298   -0.928745    0.866692
D   -1.621664    0.513634    0.774385    0.618269   -0.118071    0.606681

In [41]:
df.sort_index(axis=1,ascending=True) #axis=0-for row & 1 is for column

                   A         B         C         D
2019-09-24  0.898643  1.108262 -0.083346 -1.621664
2019-09-25 -0.424143  0.802146  1.072711  0.513634
2019-09-26  0.488902 -0.198709  0.082764  0.774385
2019-09-27 -0.058485 -1.145670  0.521298  0.618269
2019-09-28  1.739448  0.479271 -0.928745 -0.118071
2019-09-29 -2.397474  0.711838  0.866692  0.606681

In [42]:
data=pd.read_csv('sdata.csv',names=('Name','Age','Salary'))

In [47]:
dff=pd.DataFrame([[1,2,3],[22,12,34],[11,45,65]])
print(dff)

    0   1   2
0   1   2   3
1  22  12  34
2  11  45  65

In [55]:
dff.sort_index(axis=1, ascending=True)

    0   1   2
0   1   2   3
1  22  12  34
2  11  45  65

In [60]:
df.at[dates[0],'C']=1
df

                   A         B         C         D
2019-09-24  1.000000  1.000000  1.000000  1.000000
2019-09-25 -0.424143  0.802146  1.072711  0.513634
2019-09-26  0.488902 -0.198709  0.082764  0.774385
2019-09-27 -0.058485 -1.145670  0.521298  0.618269
2019-09-28  1.739448  0.479271 -0.928745 -0.118071
2019-09-29 -2.397474  0.711838  0.866692  0.606681

In [64]:
df.iat[0,1]=7
df

                   A         B         C         D
2019-09-24  1.000000  7.000000  1.000000  1.000000
2019-09-25 -0.424143  0.802146  1.072711  0.513634
2019-09-26  0.488902 -0.198709  0.082764  0.774385
2019-09-27 -0.058485 -1.145670  0.521298  0.618269
2019-09-28  1.739448  0.479271 -0.928745 -0.118071
2019-09-29 -2.397474  0.711838  0.866692  0.606681

In [65]:
df.to_csv('sss.csv')

In [75]:
df3=pd.DataFrame(np.random.randn(4,4),index=dates,columns=('A','B','C','D'))

In [76]:
df3

                   A         B         C         D
2019-09-24 -1.302508  1.908384 -1.277460  1.334192
2019-09-25  1.656753 -0.831063  0.759306  0.401636
2019-09-26 -0.365426  0.441708 -0.034603  0.294559
2019-09-27 -1.269467  0.244450  1.340937  1.702440

In [78]:
df3.to_csv('Matrix1.csv')