In [2]:
import pandas as pd

In [28]:
data =pd.read_csv('TEST.csv')

In [29]:
data.head()

   1  A   odd  1.1
0  2  B  even    2
1  3  A   odd    3
2  4  B  even    4
3  5  A   odd    5
4  6  B  even    6

In [64]:
x=data.iloc[:,0:1]
x.iloc[0]
l=len(x)
#data.iloc[0,2]
l

29

In [61]:
for i in range(l):
    if x.iloc[i]%2==0:
        data.iloc[i,4]='Even'
    else:
    data.iloc[i,4]='Odd'
print(data.head())

IndentationError: expected an indented block (<ipython-input-61-7f5737072148>, line 5)

In [7]:
data.to_csv('testfinale1.csv')

In [42]:
l1=[]
l2=[]
for x in range(len(data)):
    if data.iloc[x,2]=='Odd':
        l1.append(data.iloc[x,0:0])
    else:
        l2.append(data.iloc[x,0:0])

In [43]:
l1=pd.DataFrame(l1)
l2=pd.DataFrame(l2)
l1.to_csv('odd.csv')
l2.to_csv('even.csv')

In [44]:
dd=pd.read_csv('even.csv')
dd.head(10)

   Unnamed: 0
0           0
1           1
2           2
3           3
4           4
5           5
6           6
7           7
8           8
9           9