In [1]:
import pandas as pd

In [4]:
data=pd.read_csv('gender1.csv',names=['gender','wieght','height'])

In [5]:
data.head()

  gender     wieght      height
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [6]:
y=['gender']

In [9]:
x=data.drop('gender',axis=1)

In [10]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=2)

In [14]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

NameError: name 'x_train' is not defined

In [15]:
from sklearn.neighbors import KNeighborsClassifier

In [17]:
kobj.fit(x_train,y_train)

In [ ]:
pred=kobj.predi

In [ ]:
testdata=[[70,165.433]]
test=pd.DataFrame(testdata)

In [14]:
from tkinter import *
from tkinter import messagebox as msg
class knn(Frame):
    def __init__(self,master):
        super().__init__(master)
        lbl1=Label(self,text='Weight',font=('lucida 10 bold'))
        lbl1.grid(row=1,column=1)
        
        lbl2=Label(self,text='Height',font=('lucida 10 bold'))
        lbl2.grid(row=2,column=1)
        
        
        

root=Tk()
lbl1=Label(root,text="Weight")
lbl2=Label(root,text="Height")

txt1=Entry(root)
txt2=Entry(root)

btn=Button(root,text="Predict")

lbl1.grid(row=1,column=1)
lbl2.grid(row=2,column=1)
txt1.grid(row=1,column=2)
txt2.grid(row=2,column=2)
btn.grid(row=4,column=1,columnspan=2)

root.geometry('200x300')
root.mainloop()